body {
    background-color: rgb(0, 0, 0);
    background-image: url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

nav {
    background-image: linear-gradient(135deg,#34344dda 0%,#15192b91 50%);
    border-bottom: 4px solid rgba(122, 122, 122, 0.205);
}

.h1 {
    font-family: 'Days One', sans-serif;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.911);
    text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25),
    10px 10px 20px rgba(0,0,0,.5),
    20px 40px 40px rgba(0,0,0,.5); 
}

.h2 {
    font-family: 'Days One', sans-serif;
    font-size: .75rem;
    color: rgba(255, 255, 255, 0.911);
    text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25),
    10px 10px 20px rgba(0,0,0,.5),
    20px 40px 40px rgba(0,0,0,.5); 
}

#planContainer {
    margin-top: 10px;
    margin-bottom: 40px;
    
} 


.planRow {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 15px;
}

.time {
    color: rgb(228, 228, 228);
    height:100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;

}

.col-2 {
    background-color: rgb(43, 43, 43);
    border-radius: 15px 0px 0px 15px;
    border-top: solid 1px darkgray;
    border-left: solid 1px darkgray;
    border-bottom: solid 1px darkgray;
}

.dailyEvent {
    color: black;  
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height:100%;
    width: 100%;
}

input {
    background-color: transparent;
    border: none;
}

.btn {
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px 15px 15px 0px;
    opacity: 100%;
    
}

img {
    padding-top: 4px;
    width: 36%;
    height: 75%;
    
}

footer {
    border-top: 2px solid rgb(122, 122, 122);
    opacity: 85%;
    -webkit-opacity: 0.8;
}

.btn-primary:hover {
    background-color: darkblue;
    
}

/* media queries for mobile */
@media (max-width: 992px) {
    img {
        padding-top: 6px;
        width:60%;
        height: auto;
    }


}

@media (max-width: 767px) {
    img {
        width: 110%;
        height: auto;
        padding-top: 6px;
    }
}

@media (min-width: 602px) {
    .h1 {
        font-size: 2.5rem;
    }
    .h2 {
        font-size: 1rem;
    }

}

@media (max-width: 552px) {
    img {
        width: 200%;
        height: auto;
        padding-top: 30px;
    }
}

@media (max-width: 504px) {
    img {
        width: 170%;
        height: auto;
        padding-top: 6px;
        padding-right: 4px;
    }
  

    .time {
        font-size: 12px;
        font-weight: bolder;
        padding-top: 12px;
    }

}

@media (max-width: 445px) {
    img {
        width: 190%;
        height: auto;
        padding-top: 8px;
    }
}

@media (max-width: 420px) {
    img {
        width: 250%;
        height: auto;
        padding-top: 9px;
    }
}

@media (max-width: 405px) {
    .h1 {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 375px) {
    img {
        width: 350%;
        height: auto;
        padding-top: 9px;
    }
}

@media (max-width: 352px) {
    .h1 {
        font-size: 0.9rem;
    }
}